pkgbase = slock-royarg-git
	pkgdesc = A modified version of the simple X display locker.
	pkgver = 1.5.r0.36cbb5d
	pkgrel = 1
	url = https://github.com/RoyARG02/slock
	arch = i686
	arch = x86_64
	arch = armv7h
	license = MIT
	makedepends = git
	depends = libxcrypt
	depends = libxrandr
	depends = libxinerama
	depends = libxft
	optdepends = xorg-xrdb: for loading X resources
	provides = slock
	conflicts = slock
	conflicts = slock-git
	source = git+https://github.com/RoyARG02/slock.git
	md5sums = SKIP

pkgname = slock-royarg-git
